/*********************
GENERAL STYLES
*********************/

body {
  color: $black;
  font-family: $serif;
  font-size: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

del a:link,
del a:visited{
	color: $meta-gray;
	&:hover{
		color: darken($meta-gray, 9);
	}

}

.editthis{
	position: relative;
	left: -10px;
}

body .inner-content,
body .main{
	overflow: visible;
}
