/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
  @include container( $wrapper-width );
}

.inner-content, .inner-footer, .inner-header {
  @include container( $wrapper-width );
  overflow: hidden;
}

.main {
  overflow: hidden;
}

.article-footer {
  overflow: hidden;
}